
$font-family: 'Open Sans', sans-serif;
$font-size: 18px;
$font-color: #444444;
$border-color: #cccccc;
$background-color-content: #e6e6e6;
$border-green: #639d0b;

$header-height: 200px;
$header-height-680: 150px;
$header-height-580: 100px;
$header-height-320: 70px;

$footer-height: 26px;
$footer-height-580: 20px;
$footer-height-480: 16px;
